* {
  font-family: Arial, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding-bottom: 60px;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.task-list-container {
  flex: 1;
}

app-footer {
  margin-top: auto;
}
